<%- include("../partials/adminpartials/adminHeader.ejs") %>
<style>
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; /* Adjust the gap as needed */
    }
    .input-upload img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    /* Modal styles */
    
    .modal-content {
        margin: 10% auto;
        padding: 20px;
        width: 80%;
        max-width: 600px;
        background-color: #363636;
    }
    .cropper-container {
        width: 100%;
        max-height: 400px;
        margin-bottom: 10px;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- croper js  -->
<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>
<script src="https://unpkg.com/cropperjs"></script>

<script>

   // FINDING CATEGORY 

    function categoryFinding(){
        const selectedGender = document.getElementById('gender');
       const selectedOption = selectedGender.value;

        if (selectedOption) {
            fetch(`/admin/check-category?gender=${selectedOption}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    const selectElement = document.getElementById('category');
                    selectElement.innerHTML = '';
                    data.forEach(item => {
                        const option = document.createElement('option');
                        option.text = item.category;
                        selectElement.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        } else {
            alert('Please select a gender');
        }
    }


    // Image Priview and cropperjs
    let cropper;
        let currentInput;
        let croppedFiles = new Map();
        const targetFileSize =  2 * 1024 * 1024; // 1MB in bytes

        function previewImage(event) {
            const input = event.target;
            const file = input.files[0];
            currentInput = input; 
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const cropperImage = document.getElementById('cropperImage');
                    cropperImage.src = e.target.result;
                    document.getElementById('cropperModal').style.display = 'block';
                    if (cropper) {
                        cropper.destroy();
                    }
                    cropper = new Cropper(cropperImage, {
                        aspectRatio: 3 / 4, // Portrait aspect ratio
                        viewMode: 1,
                    });
                };
                reader.readAsDataURL(file);
            }
        }

        function cropImage() {
            if (cropper) {
                cropper.getCroppedCanvas().toBlob(function(blob) {
                    adjustQuality(blob, 1, targetFileSize, function(adjustedBlob) {
                        const croppedImageSrc = URL.createObjectURL(adjustedBlob);
                        const imagePreview = currentInput.previousElementSibling;
                        if (imagePreview && imagePreview.tagName === 'IMG') {
                            imagePreview.src = croppedImageSrc;
                        }
                        const dataTransfer = new DataTransfer();
                        const file = new File([adjustedBlob], `croppedImage${Date.now()}.jpg`, { type: "image/jpeg" });
                        dataTransfer.items.add(file);
                        currentInput.files = dataTransfer.files;

                        croppedFiles.set(currentInput.name, file);
                        closeModal();
                    });
                }, 'image/jpeg');
            }
        }

        function adjustQuality(blob, quality, targetSize, callback) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = new Image();
                img.onload = function() {
                    const canvas = document.createElement('canvas');
                    canvas.width = img.width;
                    canvas.height = img.height;
                    const ctx = canvas.getContext('2d');
                    ctx.drawImage(img, 0, 0);

                    canvas.toBlob(function(newBlob) {
                        if (newBlob.size <= targetSize || quality <= 0.1) {
                            callback(newBlob);
                        } else {
                            adjustQuality(blob, quality - 0.1, targetSize, callback);
                        }
                    }, 'image/jpeg', quality);
                };
                img.src = e.target.result;
            };
            reader.readAsDataURL(blob);
        }

        function closeModal() {
            document.getElementById('cropperModal').style.display = 'none';
            if (cropper) {
                cropper.destroy();
                cropper = null;
            }
        }

    //Adding products 
    async function addProduct(){
        try{
            const productName = document.getElementById("productName").value;
            const description = document.getElementById("Description").value;
            const brandName = document.getElementById("brand_name").value;
            const material = document.getElementById("material").value;
            const gender = document.getElementById("gender").value;
            const category = document.getElementById("category").value;
            const tags = document.getElementById("tags").value;


            const response = await fetch('/admin/adding-product',{
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    productName: productName,
                    description: description,
                    brandName: brandName,
                    material: material,
                    gender: gender,
                    category: category,
                    tags: tags
                })


            })

            if (!response.ok) {
                const data = await response.json();
                // console.log(data)
                Swal.fire({
                    position: "center",
                    icon: "warning",
                    title: `<span style="color: red;">${data.message}</span>`,
                    showConfirmButton: false,
                    timer: 1500
                    
                });
                
            }
            const data = await response.json();
            $('#variantModal').modal('show');

        } catch(error){
            console.log(error.message)
        }
    }


     function removeProduct() {
        fetch("/admin/remove-product")
    }


    //function for clearing the modal
    function clearModalFields() {
        $('#variantModal').find('input, textarea, select').val('');
        $('#variantModal').find('img').attr('src', '/assets/imgs/theme/upload.svg')
      }

    // adding variant 
    async function addVariant() {
        const formData = new FormData(document.getElementById("variantForm"));
        //console.log(Object.fromEntries(formData))

       // alert("hello world")
        //console.log(formData)
        const response = await fetch("/admin/add-variant", {
           method: "POST",
            body: formData
        });

      if (response.ok) {
        const data = await response.json();
        if(data.fail){
            Swal.fire({
                position: "center",
                icon: "warning",
                title: `<span style="color: red;"> ${data.fail} </span>`,
                showConfirmButton: false,
                timer: 1500
                
              });
        }else if(data.success){
            Swal.fire({
                title: "Do you want to add another variant?",
                showDenyButton: true,
                confirmButtonText: "Yes",
                denyButtonText: "No"
              }).then((result) => {
                
    
                if (result.isConfirmed) {
                    clearModalFields();
                    $('#variantModal').modal('show');
    
                } else if (result.isDenied) {
                    
                    clearModalFields();
                    Swal.fire("variant saved", "", "success");
                    window.location.href = "/admin/productlist"
                }
            });
        }
     } else {
            Swal.fire({
                position: "center",
                icon: "warning",
                title: `<span style="color: red;"> Adding variant not working </span>`,
                showConfirmButton: false,
                timer: 1500
                
              });
            
        }
    }

    
</script>

<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/assets/imgs/theme/logo.svg" class="logo"
                alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i
                    class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/dashboard">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/productlist">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>

            <li class="menu-item active">
                <a class="menu-link" href="/admin/addProduct">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Add product</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon material-icons md-list_alt"></i>
                    <span class="text">Orders</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/users">
                    <i class="icon material-icons md-people"></i>
                    <span class="text">Users</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/Categories">
                    <i class="icon material-icons md-layers"></i>
                    <span class="text">Categories</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/coupon">
                    <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Coupon Management</span>
                </a>
            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="/admin/offer">
                    <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Offer Management</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" disabled href="/admin/sales-report">
                    <i class="icon material-icons md-insert_chart"></i>
                    <span class="text">Sales Report</span>
                </a>
            </li>
        </ul>
        <br />
        <br />
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-4">
                                <label for="product_name"
                                    class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="productName" required name="name"/>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" name="description" required id="Description"></textarea>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Brand Name</label>
                                <input type="text" placeholder="Brand Name" class="form-control" id="brand_name" name="brandName">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Material</label>
                                <input type="text" placeholder="Material" class="form-control" id="material" name="material">
                            </div>
                            <div>
                                <button
                                    class="btn btn-light rounded font-sm mr-5 text-body hover-up">Cancel</button>
                                <button class="btn btn-md rounded font-sm hover-up"  type="button" onclick="addProduct()" >Add Product</button>
                            </div>
                        
                    </div>
                </div>
                <!-- card end// -->

            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Organization</h4>
                    </div>
                    <div class="card-body">
                        <div class="row gx-2">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Gender</label>
                                <select class="form-select" onchange="categoryFinding()" name="gender" id="gender">
                                    <option disabled selected hidden>choose..</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Kids</option>

                                </select>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Sub-category</label>
                                <select class="form-select" name="category" id="category">
                                    <option disabled selected hidden>choose..</option> 
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="product_name"
                                    class="form-label">Tags</label>
                                <input type="text" class="form-control" placeholder="New/Araival" name="tags" id="tags">
                            </div>

                        </div>
                        <!-- row.// -->
                    </div>
                </div>
                <!-- card end// -->

            </div>
        </div>
    </form>
    </section>
    <!-- content-main end// -->

<%- include("../partials/adminpartials/adminFooter") %>

    <!-- modal part adding variant -->
    <div class="modal fade dark" id="variantModal" tabindex="-1"
        aria-labelledby="variantModalLabel" aria-hidden="true">
        <div class="modal-dialog " style="max-width: 600px;">
            <div class="modal-content"
                style="background-color: rgb(68, 68, 68);">
                <div class="modal-header ">
                    <h5 class="modal-title" id="variantModalLabel">Add Product Variants</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="removeProduct()" aria-label="Close"></button>
                </div>
                <div class="modal-body"
                    style="background-color: rgb(68, 68, 68);">
                    <form id="variantForm">
                        <div class="mb-3">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                </div>
                                <div class="container">
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <img  class="image-preview" src="/assets/imgs/theme/upload.svg" alt="product image" />
                                            <input class="form-control"
                                                type="file" name="Image0" accept="image/jpeg, image/png," onchange="previewImage(event)" required/>
                                        </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <img  class="image-preview" src="/assets/imgs/theme/upload.svg" alt="product image"/>
                                                <input class="form-control"
                                                    type="file" name="Image1" accept="image/jpeg, image/png," onchange="previewImage(event)" required/>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <img  class="image-preview" src="/assets/imgs/theme/upload.svg" alt="product image" />
                                                <input class="form-control"
                                                    type="file" name="Image2" accept="image/jpeg, image/png," onchange="previewImage(event)" required/>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <img  class="image-preview" src="/assets/imgs/theme/upload.svg" alt="product image" />
                                                <input class="form-control"
                                                    type="file" name="Image3" accept="image/jpeg, image/png" onchange="previewImage(event)" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="variant_name"
                                        class="form-label">Colour</label>
                                    <input type="text" class="form-control"
                                       
                                        placeholder="e.g., Color," name="colour" />
                                </div>
                                <div class=" mb-4">
                                    <label class="form-label">Price</label>
                                    <input type="number" name="price" class="form-control" placeholder="e.g, Rupees" />
                                </div>
                                <div id="rows-container">
                                    <div class="row gx-3 row-to-clone">
                                        <div class="col-sm-3 mb-4">
                                            <label class="form-label" name="size">Size</label>
                                            <select class="form-select" name="size">
                                                <option>S</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 mb-4">
                                            <label class="form-label">Quantity</label>
                                            <input type="number" name="quantity" class="form-control" placeholder="e.g, quantity.No" />
                                        </div>
                                    </div>
                                </div>

                                <div id="rows-container">
                                    <div class="row gx-3 row-to-clone">
                                        <div class="col-sm-3 mb-4">
                                            <label class="form-label" name="size">Size</label>
                                            <select class="form-select" name="size">
                                                <option>M</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 mb-4">
                                            <label class="form-label">Quantity</label>
                                            <input type="number" name="quantity" class="form-control" placeholder="e.g, quantity.No" />
                                        </div>
                                    </div>
                                </div>

                                <div id="rows-container">
                                    <div class="row gx-3 row-to-clone">
                                        <div class="col-sm-3 mb-4">
                                            <label class="form-label" name="size">Size</label>
                                            <select class="form-select" name="size">
                                                <option>L</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 mb-4">
                                            <label class="form-label">Quantity</label>
                                            <input type="number" name="quantity" class="form-control" placeholder="e.g, quantity.No" />
                                        </div>
                                    </div>
                                </div>

                                <div id="rows-container">
                                    <div class="row gx-3 row-to-clone">
                                        <div class="col-sm-3 mb-4">
                                            <label class="form-label" name="size">Size</label>
                                            <select class="form-select" name="size">
                                                <option>XL</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 mb-4">
                                            <label class="form-label">Quantity</label>
                                            <input type="number" name="quantity" class="form-control" placeholder="e.g, quantity.No" />
                                        </div>
                                    </div>
                                </div>
                            
                            <ul class="list-group mt-3" id="variantList">
                                <!-- Variant items will be appended here -->
                            </ul>
                        </div>
                        <div class="modal-footer" style="background-color: rgb(68, 68, 68);">
                            <button type="button" class="btn btn-secondary" 
                            data-bs-dismiss="modal" onclick="removeProduct()" >Close</button>
                            <button type="button" class="btn btn-primary" onclick="addVariant()">Save changes</button>
                        </div>
                    </form>
                    </div>
                </div>
    
            </div>
        </div>
    </div>

    <!-- Modal for cropping -->
    <div id="cropperModal" class="modal">
        <div class="modal-content">
            <div class="cropper-container">
                <img id="cropperImage" src="" alt="Image for cropping" />
            </div>
            <button onclick="cropImage()">Crop</button>
            <button onclick="closeModal()">Cancel</button>
        </div>
    </div>

    