<%- include("../partials/userpartials/header.ejs") %>

<!-- Icon Font CSS -->
<link rel="stylesheet" href="css/plugins/pe-icon-7-stroke.css" />
<link rel="stylesheet" href="css/plugins/font-awesome.min.css" />

<!-- Plugins CSS -->
<link rel="stylesheet" href="css/plugins/bootstrap.min.css" />
<link rel="stylesheet" href="css/plugins/animate.min.css" />
<link rel="stylesheet" href="css/plugins/swiper-bundle.min.css" />
<link rel="stylesheet" href="css/plugins/odometer.min.css" />
<link rel="stylesheet" href="css/plugins/select2.min.css" />
<link rel="stylesheet" href="css/plugins/ion.rangeSlider.min.css" />

<link rel="stylesheet" href="css/style.min.css">

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<!-- Register Section Start -->
<div class="section section-padding " style="background-color:aliceblue;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Login & Register Start -->
                <div class="login-register-wrapper">
                    <h4 class="title">Add new Address</h4>
                    <form method="post" id="Form">
                        <% if(typeof message !=="undefined" ) {%>
                        <h6 style="color: rgb(255, 2, 32);">
                            <%= message %>
                        </h6>
                        <% } %>
                        <p id="errorMessage"></p>
                        <div class="single-form">
                            <input type="text" placeholder="name" name="name"
                                id="name" required />
                        </div>
                        <p id="usernameError"></p>
                        <div class="single-form">
                            <input type="text" placeholder="street address"
                                name="address" id="address" required />
                        </div>
                        <p id="emailError"></p>

                        <div class="single-form">
                            <input type="text" placeholder="coutnry"
                                name="country" id="country" required />
                        </div>
                        <div class="single-form">
                            <input type="text" placeholder="state" name="state"
                                id="state" required />
                        </div>

                        <p id="passwordError"
                            style="color: red;font-size: 12px;"> </p>

                        <div class="single-form">
                            <input type="text" placeholder="city" name="city"
                                id="city" required />
                        </div>
                        <div class="single-form">
                            <input type="number" placeholder="pincode"
                                name="pincode"
                                id="pincode" required />
                        </div>
                        <div class="single-form">
                            <input type="number" placeholder="mobile number"
                                name="mobile"
                                id="mobile" required />
                        </div>
                        <div class="single-form">
                            <button class="btn btn-primary btn-hover-dark"
                                id="button">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
                <!-- Login & Register End -->
            </div>
        </div>
    </div>
</div>
<div style="height: 5rem;"></div>
<!-- Register Section End -->
<%- include("../partials/userpartials/footer.ejs") %>

<script>
        const validateForm = () => {
            const name = document.getElementById("name").value;
            const country1 = document.getElementById("country").value;
            const address = document.getElementById("address").value;
            const city = document.getElementById("city").value;
            const state = document.getElementById("state").value;
            const pincode = document.getElementById("pincode").value;
            const mobile = document.getElementById("mobile").value;


            // Regex patterns for validation
            const nameRegex = /^[A-Za-z ]+$/; // Only letters and spaces
            const countryRegex = /^[A-Za-z ]+$/; // Only letters and spaces
            const addressRegex = /^[0-9A-Za-z .,/-]+$/; // Alphanumeric with specific characters
            const cityRegex = /^[A-Za-z ]+$/; // Only letters and spaces
            const stateRegex = /^[A-Za-z ]+$/; // Only letters and spaces
            const pincodeRegex = /^\d{6}$/; //digit numeric pincode
            const mobileRegex = /^\d{10}$/; // Ten-digit numeric mobile number


            // Validate each field against its corresponding regex pattern
            const isValidName = nameRegex.test(name);
            const isValidCountry = countryRegex.test(country1);
            const isValidAddress = addressRegex.test(address);
            const isValidCity = cityRegex.test(city);
            const isValidState = cityRegex.test(state);
            const isValidPincode = pincodeRegex.test(pincode);
            const isValidMobile = mobileRegex.test(mobile);

            const sweetAlert = (Something) => {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: `Please enter a valid ${Something} (letters and spaces only!`,
            });
            };

            // Display validation messages if any field is invalid
            if (!isValidName || !name) {
            sweetAlert("NAME");
            return false;
            }
            if (!isValidAddress) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Please enter a valid address!",
            });
            return false;
            }
            if (!isValidCountry || !country) {
            sweetAlert("COUNTRY");
            return false;
            }
       
            if (!isValidCity) {
            sweetAlert("CITY");
            return false;
            }
            if (!isValidState) {
            sweetAlert("STATE");
            return false;
            }
            if (!isValidPincode) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Please enter a valid PINCODE (exactly SIX digits)!",
            });
            return false;
            }
            if (!isValidMobile) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Please enter a valid MOBILE NUMBER (exactly TEN digits)!",
            });
            return false;
            }

            return true;
        };

        const form = document.getElementById("Form");
        const button = document.getElementById("button");
        button.addEventListener("click", (event) => {

            const state = validateForm();
            if (state == true) {              
                form.submit();
            } else {
                event.preventDefault();
            }
        });
        </script>

<!-- SWEET ALERT LINK -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Modernizer & jQuery JS -->
<script src="/assets/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JS -->
<!-- <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script> -->

<!-- Plugins JS -->
<!-- <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script>
    <script src="assets/js/plugins/odometer.min.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script> -->

<!-- Main JS -->
<!-- <script src="assets/js/main.js"></script> -->
