<%- include('../partials/userpartials/header.ejs') %>

<!-- login -->

<div class="wrapper" style="background-image: url('images/bg-registration-form-1.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="images/registration-form-1.jpg" alt="">
        </div>
        <form action="" class="p-t-23">
            <h3>Login</h3>
            <div class="form-wrapper">
                <input type="text" placeholder="Email or Username" class="form-control">
                <i class="zmdi zmdi-email"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Password" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <button class="logButton">Login
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>

<%- include('../partials/userpartials/footer.ejs') %>